* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

#container {
  border: 1px solid burlywood;
  border-radius: 20px;
  padding: 5vh;
  min-width: 50vw;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5vh;
}

#image-wrapper {
  width: 130px;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid burlywood;
  border-radius: 50%;
}

#pokemon-list,
button {
  width: 150px;
  padding: 10px;
}

button {
  margin-top: -3.5vh;
}

#error-container {
  color: red;
}
