div {
  margin: 50px auto;
  border: 1px solid olive;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
}
p {
  height: 20px;
  line-height: 20px;
  font-size: 20px;
  font-weight: bold;
}

button {
  margin: 5px;
  padding: 5px;
  width: 70px;
  height: 70px;
  /* I have to use percentages for border-radius - to make the buttons round */
  border-radius: 50%;
  cursor: pointer;
}

.start {
  background-color: olive;
}
.stop {
  background-color: red;
}
